.main{
    background-color: #020a13;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 3;
    padding: 10px 0;


    .inner{
        display: flex;

    }
    .social{
        width: 15%;
        justify-content: center;
        gap: 20px;
    }
    .links{
        width: 40%;
        justify-content: space-between;
        font-family: "Poppins", sans-serif;
        font-weight: 400;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                margin: 0;
                margin-bottom:3px;
                cursor: pointer;
            }
        }

        .line{
            width: 8px;
            height: 2px;
            
            z-index: 2;
        }
        .active{
            background-color: orangered;
        }
    }
    .initials{
        width: 15%;
        justify-content: center;
        h1{
            margin: 0;
        }
    }
}